.header {
  display: flex;
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1rem;
  font-weight: bold;
}

.navLink {
  text-decoration: none;
}
